@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --primary-family: 'Bree Serif', serif;
  --secondary-family: 'Varela Round', sans-serif;
}

html {
  scroll-behavior: smooth;
}

#hero {
  height: 400px;
}

@media (min-width: 768px) {
  
  #hero {
    background-image: url(/hero.svg);
    height: 850px;
    background-position: bottom;
    background-repeat: no-repeat;
  }

}

#footer {
  height: 400px;
}

@media (min-width: 768px) {
  
  #footer {
    background-image: url(/footer.svg);
    height: 850px;
    background-position: bottom;
    background-repeat: no-repeat;
  }

}